@model List<lTradePairLookup_List_Result>

<form id="TradingForm" action="@Url.Action("SaveTheTrade")">
    <div class="row">

        <div class="col-lg-4">
            <label>Trade Type</label>
            <select id="TradeTypeSelect" class="form-control" onchange="tradeTypeChange()">
                <option>Please Select</option>
                <option value="1">Buy Now</option>
                <option value="2">Sell Now</option>
                <option value="3">Buy Limit</option>
                <option value="4">Sell Limit</option>

            </select>
        </div>

        <div class="col-lg-4">
            <input type="hidden" id="ajacall" value="@Url.Action("getResults")" />
            <input hidden id="getPricey" value="@Url.Action("GetPriceOfSelected")" />
            <label>Trading Pair</label>
            <select id="tradingPair" class="form-control" onchange="callForPrice()">
                <option value="">Please Select</option>
                @foreach(var pair in Model)
            {
                <option value="@pair.lTradePairLookupID">@pair.lTradePair</option>
            }
            </select>
        </div>
        <div class="col-lg-4" id="LimitDiv" style="display:none">
            <label>At</label>
            <input class="form-control" type="number" id="LimitAt" onkeyup="Limit()" placeholder="AT" />
        </div>
        <input hidden id="currentPrice" name="tCurrentPrice" />
        <input hidden id="limitOne" />
    </div>

    <div class="row">
        <div class="col-lg-4">
            <label>Stop Loss</label>
            <input class="form-control" type="number" id="StopLossInput" name="tSL" onkeyup="StopLoss()" placeholder="SL" />
            <label style="color:orangered" id="SLError"></label>
        </div>
        <div class="col-lg-4">
            <label>Take Profit</label>
            <input class="form-control" type="number" id="TakeProfitInput" name="tTp" onkeyup="TakeProfit()" placeholder="TP" />
            <label style="color:orangered" id="TPError"></label>
        </div>
    </div>
</form>






<br />

<br />

<div><button type="button" class="btn btn-primary" onclick="SendTelegramMessage()">Send Message to Telegram</button></div>


<br />
<br />

<div class="row">
    <div class="col-lg-12">
        <label id="TradeType" class="editable" contenteditable="true"></label>
    </div>
</div>

<div class="row" id="ConstructMessage">
    <div class="col-lg-12">
        <label id="TextOfSelected" class="editable" contenteditable="true"></label>
    </div>
</div>
<br />


<div class="row">
    <div class="col-lg-12">
        <label id="LimitAtMessage" class="editable" contenteditable="true"></label>
    </div>
</div>

<br />




<div class="row">
    <div class="col-lg-12">
        <label id="StopLoss" class="editable" contenteditable="true"></label>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <label id="TakeProfit" class="editable" contenteditable="true"></label>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <label class="editable" id="additionalText" contenteditable="true">Additional Text Here</label>
    </div>
</div>









<style>
    .editable:hover {
        box-shadow: 0 0 2px blue;
    }
</style>

@section Scripts{
    <script src="~/js/callForprices.js"></script>
    <link href="~/css/toastr.css" rel="stylesheet" />
    <script src="~/js/site/toastr.js"></script>
}